* {
    margin: 0%;
    padding: 0%;
}

.container {
    width: 100vw;
    height: 100vh;
    margin-top: 5%;
}

.roditelj {
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    text-align: center;
    padding: 3%;
    margin-left: 10%;
    margin-right: 10%;
    border: 20px solid rgb(255, 216, 209);
    border-radius: 5em;
}

.kurs {
    padding-bottom: 5%;
}

.deo1 {
    display: flex;
    flex-direction: column;
    padding-bottom: 10%;
}

#title {
    font-size: 2em;
    margin-top: 2%;
    text-align: center;
    padding: 1em 0;
    color: rgba(224, 183, 175, 0.747);
}

label {
    font-size: 1em;
    color: rgb(230, 156, 142);
}

#submit {
    width: 40%;
}

.date {
    padding-top: 5%;
    padding-bottom: 5%;
}