* {
    margin: 0%;
    padding: 0%;
}

.container {
    width: 100vw;
    height: 100vh;
    margin-top: 5%;
}

.roditelj {
    display: grid;
    justify-items: center;
    padding: 20px;
    margin-left: 10%;
    margin-right: 10%;
    border: 20px solid rgb(255, 216, 209);
    border-radius: 5em;
}

#title {
    font-size: 2em;
    margin-top: 50px;
    text-align: center;
    padding: 1em 0;
    color: rgba(224, 183, 175, 0.747);
}

label {
    font-size: 1em;
    color: rgb(230, 156, 142);
}

.deo1 {
    text-align: center;
}


#submit {
    width: 40%;

}

.deo3 {
    text-align: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}



/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}